{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pinterest {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    {% include 'core/parts/navbar.html' %}
    <section class="section">
      <div class="container" id="main">
        {% block content %}{% endblock content %}
      </div>
      {% include 'core/parts/upload_pin.html' %}
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Pinterest</strong> using Django, HTMX & Bulma css.</p>
      </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
      htmx.on("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{csrf_token}}";
      });
    </script>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
