{% extends 'core/base.html' %}

{% block title %}| Login{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}


        <form action="." method="post">
            {% csrf_token %}
            <div class="field">
                <label for="id_username" class="label">{{form.username.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_username" class="input" type="text" name="username" required
                           {% if form.username.data %}
                           value="{{form.username.data}}"
                           {% endif %}
                    >
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="hidden" name="next" value="{{next}}">
                </div>
            </div>

            <div class="field">
                <label for="id_password" class="label">{{form.password.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_password" class="input" type="password" name="password" required>
                    <span class="icon is-small is-left">
                      <i class="fa-solid fa-lock"></i>
                    </span>

                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
            </div>
            <label class="checkbox">
                Already have an account? <a href="{% url 'signup' %}">Signup</a>.
            </label>
        </form>
    </div>
</div>
{% endblock content %}