{% extends 'core/base.html' %}

{% block title %}| Signup{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}


        <form action="." method="post">
            {% csrf_token %}
            <div class="field">
                <label for="id_username" class="label">{{form.username.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_username" class="input" type="text" name="username" required
                           {% if form.username.data %}
                           value="{{form.username.data}}"
                           {% endif %}
                    >
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="id_password1" class="label">{{form.password1.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_password1" class="input" type="password" name="password1" required>
                    <span class="icon is-small is-left">
                      <i class="fa-solid fa-key"></i>
                    </span>

                </div>
            </div>

            <div class="field">
                <label for="id_password2" class="label">{{form.password2.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="id_password2" class="input" type="password" name="password2" required>
                    <span class="icon is-small is-left">
                      <i class="fa-solid fa-lock"></i>
                    </span>

                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Signup</button>
                </div>
            </div>
            <label class="checkbox">
                Don't have an account? <a href="{% url 'login' %}">Login</a>.
            </label>
        </form>
    </div>
</div>
{% endblock content %}